body {
    font-family: 'Manrope', Courier, monospace;
    font-weight: 400;
    width: 100%;
    background-color: #f5f5f5;

}

.container {
    margin: 0 auto;
    width: 1400px;
    background: #FFFFFF;
    padding: 125px;
}

h1 {
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
}

.interior {
    background-image: url("/metrika/resourcesm/Rectangle\ 1.png");
    margin-top: 30px;
    height: 500px;
    width: 1150px;
    padding-left: 40px;
    padding-top: 379px;
}

.intcontent {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 28px;
    width: 430px;
    position: absolute;
    letter-spacing: -0.03em;
}

.contentone {
    padding-top: 150px;
}

.about {
    color: #121212;
    width: 51px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
}

.contenttwo {
    color: #121212;
    width: 1048px;
    padding-top: 30px;
    font-size: 45px;
    line-height: 62px;
    letter-spacing: -0.03em;
}

a {
    border-radius: 5px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.03em;
    display: inline-block;
    margin-top: 30px;
    padding: 20px 40px;
    background-color: #AD1818;
    color: #FFFFFF;
    text-decoration: none;
}